.App {
  text-align: center;
}

*{
  background-color: white;
}
.text {
  color: black;
  margin: 20px;
  font-weight: bold;
}
button{
  background-color: blue;
  border-radius: 15px;
  border: #282c34;
  width: 130px;
  margin: 20px;
  height: 150px;
  cursor: pointer;
}
button:hover{
  background-color: green;
}
input {
    display: flex;
    margin: 20px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    background-color: grey;
    color: black;
}
::placeholder{
  color: antiquewhite;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
